@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

[data-component='ConsolePage'] {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  color: #ffff;
  background-color: #3d3d3d;
  font-style: normal;
  font-size: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 25px;

  

  @media (min-width: 768px) {
    margin: 0px;
    font-size: 14px;
  }

  @media (max-width: 767px) {
    font-size: 10px;
    padding: 10px;
  }

  & > div {
    flex-shrink: 0;
  }

  .spacer {
    flex-grow: 1;
  }

  audio {
    margin-top: 15px !important;
  }

  .content-top {
    display: flex;
    align-items: center;
    margin: 0px 8px;
    min-height: 40px;
    width: 80%;
    background-color: #3d3d3d;

    @media (min-width: 768px) {
      width: 50%;
    }

    .content-title h2 {
      font-size: 1.5em; 
      color: #ffffff;  
    }
    .content-title {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        width: 40px;
        height: 40px;
      }

      @media (max-width: 767px) {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .content-main {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1 !important;
    margin: 0px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 24px;
    background-color: #3d3d3d;
    background-image: url('../../public/background.png');
    background-size: contain; /* or 'contain' based on your needs */
    background-position: center; /* Positions the image at the center */
    background-repeat: no-repeat; /* Prevents the image from repeating */

    @media (min-width: 768px) {
      flex-direction: row;
      width: 70%;
    }

    @media (max-width: 767px) {
      padding: 0;
    }

    .content-block {
      position: relative;
      display: flex;
      flex-direction: column;
      max-height: 100%;
      width: 100%;

      @media (min-width: 768px) {
        width: 70%;
      }

      @media (max-width: 767px) {
        width: 100%;
      }  

      .content-block-title {
        flex-shrink: 0;
        padding-top: 16px;
        padding-bottom: 4px;
        position: relative;
      }

      .content-block-body {
        color: #6e6e7f;
        position: relative;
        flex-grow: 1;
        padding: 8px 0px;
        padding-top: 4px;
        line-height: 1.2em;
        overflow: auto;

        &.full {
          padding: 0px;
        }
      }
    }

    .content-right {
      width: 100%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      gap: 24px;

      @media (min-width: 768px) {
        width: 300px;
        margin-left: 24px;
      }

      & > div {
        border-radius: 16px;
        flex-grow: 1;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;

        .content-block-title {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 2em;
          top: 16px;
          left: 16px;
          padding: 4px 16px;
          background-color: #fff;
          border-radius: 1000px;
          min-height: 32px;
          z-index: 9999;
          text-align: center;
          white-space: pre;

          &.bottom {
            top: auto;
            bottom: 16px;
            right: 16px;
          }
        }
      }

      & > div.kv {
        height: 250px;
        max-height: 250px;
        white-space: pre;
        background-color: #ececf1;

        .content-block-body {
          padding: 16px;
          margin-top: 56px;
        }
      }
    }

    .content-logs {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 5px;
      overflow: hidden;

      & > div {
        flex-grow: 1;
      }

      & > .content-actions {
        flex-grow: 0;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 3px;

        @media (min-width: 768px) {
          width: 70%;
        }
      }

      & > div.events {
        overflow: hidden;
      }

      .events {
        border-top: 1px solid #3d3d3d;
      }

      .conversation {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        overflow: hidden;
        height: 200px;
        min-height: 0;
        max-height: 600px;
        border-top: 1px solid #e7e7e7;

        @media (min-width: 768px) {
          width: 70%;
        }
      }
    }
  }

  .conversation-item {
    position: relative;
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 1px;

    &:not(:hover) .close {
      display: none;
    }

    @media (max-width: 767px) {
      gap: 8px;
    }

    .close {
      position: absolute;
      top: 0px;
      right: -20px;
      background: #aaa;
      color: #fff;
      display: flex;
      border-radius: 16px;
      padding: 2px;
      cursor: pointer;

      &:hover {
        background: #696969;
      }

      svg {
        stroke-width: 3;
        width: 12px;
        height: 12px;
      }
    }

    .speaker {
      font-family: 'Roboto', sans-serif;
      position: relative;
      text-align: left;
      gap: 16px;
      flex-shrink: 0;
      line-height: 1.5;
      font-weight: 300;
      letter-spacing: 1px;
    }

    .speaker-content {
      max-width: 100%; 
      border-radius: 20px;
      padding: 5px 8px;
      margin-top: 5px;
      margin-bottom: 5px;
      max-width: 400px;
      font-size: 16px;
      width: fit-content;
      position: relative;

      &.user {
        color: #fff;
        margin-left: auto;
        margin-right: 10px;
        background: linear-gradient(145deg, #f33b4b, #f33b4b);
        background-attachment: fixed;
        position: relative;

      }

      &.assistant {
        color: #fff;
        margin-left: -10px;
        background: #2a2a2a;
        background-attachment: fixed;
        position: relative;
      }
    }
  }

  .event {
    border-radius: 3px;
    white-space: pre;
    display: flex;
    padding: 0px;
    gap: 16px;

    .event-timestamp {
      text-align: left;
      gap: 8px;
      padding: 4px 0px;
      width: 80px;
      flex-shrink: 0;
      margin-right: 16px;
    }

    .event-details {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      gap: 8px;

      .event-summary {
        padding: 4px 8px;
        margin: 0px -8px;

        &:hover {
          border-radius: 8px;
          background-color: #f0f0f0;
        }

        cursor: pointer;
        display: flex;
        gap: 8px;
        align-items: center;

        .event-source {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          gap: 8px;

          &.client {
            color: #0099ff;
          }

          &.server {
            color: #009900;
          }

          &.error {
            color: #990000;
          }

          svg {
            stroke-width: 3;
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }

  .visualization {
    position: absolute;
    display: flex;
    bottom: 4px;
    right: 8px;
    padding: 4px;
    border-radius: 16px;
    z-index: 10;
    gap: 2px;

    .visualization-entry {
      position: relative;
      display: flex;
      align-items: center;
      height: 40px;
      width: 100px;
      gap: 4px;

      &.client {
        color: #0099ff;
      }

      &.server {
        color: #009900;
      }

      canvas {
        width: 100%;
        height: 100%;
        color: currentColor;
      }
    }
  }
}
